In [33]:
import pandas as pd

### Dataset com 1303 descrições e preços de notebooks (2018), com preços em Euros. Existem inúmeros datasets no Kaggle com esta temática e podem ser adaptados/utilizados para estudos: https://www.kaggle.com/ionaskel/laptop-prices

In [34]:
df = pd.read_csv('../datasets/laptops.csv')

In [35]:
df.head()

,Manufacturer,Model Name,Category,Screen Size,Screen,CPU,RAM,Storage,GPU,Operating System,Operating System Version,Weight,Price (Euros)
0,Apple,MacBook Pro,Ultrabook,"13.3""",IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,128GB SSD,Intel Iris Plus Graphics 640,macOS,NaN,1.37kg,"1339,69"
1,Apple,Macbook Air,Ultrabook,"13.3""",1440x900,Intel Core i5 1.8GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,macOS,NaN,1.34kg,"898,94"
2,HP,250 G6,Notebook,"15.6""",Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,No OS,NaN,1.86kg,"575,00"
3,Apple,MacBook Pro,Ultrabook,"15.4""",IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16GB,512GB SSD,AMD Radeon Pro 455,macOS,NaN,1.83kg,"2537,45"
4,Apple,MacBook Pro,Ultrabook,"13.3""",IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8GB,256GB SSD,Intel Iris Plus Graphics 650,macOS,NaN,1.37kg,"1803,60"

In [36]:
df.columns

Index(['Manufacturer', 'Model Name', 'Category', 'Screen Size', 'Screen',
       'CPU', 'RAM', ' Storage', 'GPU', 'Operating System',
       'Operating System Version', 'Weight', 'Price (Euros)'],
      dtype='object')

In [37]:
df.shape

(1303, 13)

In [38]:
df.dtypes

Manufacturer                object
Model Name                  object
Category                    object
Screen Size                 object
Screen                      object
CPU                         object
RAM                         object
 Storage                    object
GPU                         object
Operating System            object
Operating System Version    object
Weight                      object
Price (Euros)               object
dtype: object

In [39]:
def mod_cols(col):
    #remove espaços em branco ao redor
    col = col.strip()
    #remove parenteses
    col = col.replace('(', '')
    col = col.replace(')', '')
    #passa para minusculo
    col = col.lower()
    #preenche espaço entre palavras com _
    col = col.replace(' ', '_')
    return col
    
df.columns = [mod_cols(c) for c in df.columns]
df.columns
#df.columns.tolist()

Index(['manufacturer', 'model_name', 'category', 'screen_size', 'screen',
       'cpu', 'ram', 'storage', 'gpu', 'operating_system',
       'operating_system_version', 'weight', 'price_euros'],
      dtype='object')

In [40]:
df['screen_size'] = (df['screen_size'].str.replace('"', ''))

In [41]:
df['screen_size'] = df['screen_size'].astype(float)

In [42]:
df['screen_size']

0       13.3
1       13.3
2       15.6
3       15.4
4       13.3
        ...
1298    14.0
1299    13.3
1300    14.0
1301    15.6
1302    15.6
Name: screen_size, Length: 1303, dtype: float64

In [43]:
def mod_weight(w):
    w = w.strip()
    #alguns lugares tem kg, noutros kgs
    w = w.replace('kg', '')
    w = w.replace('s', '')
    w = float(w)
    return w

df['weight'] = [mod_weight(w) for w in df['weight']]
df['weight']

0       1.37
1       1.34
2       1.86
3       1.83
4       1.37
        ...
1298    1.80
1299    1.30
1300    1.50
1301    2.19
1302    2.20
Name: weight, Length: 1303, dtype: float64

In [44]:
#df['weight'] = df['weight'].str.replace('kg', '')
#df['weight'] = df['weight'].str.replace('s', '').astype(float)
#df['weight']

In [45]:
df['storage'].str.split(n=1)

0                 [128GB, SSD]
1       [128GB, Flash Storage]
2                 [256GB, SSD]
3                 [512GB, SSD]
4                 [256GB, SSD]
                 ...
1298              [128GB, SSD]
1299              [512GB, SSD]
1300     [64GB, Flash Storage]
1301                [1TB, HDD]
1302              [500GB, HDD]
Name: storage, Length: 1303, dtype: object

In [46]:
df['storage'].str.split(n=1, expand=True)

          0              1
0     128GB            SSD
1     128GB  Flash Storage
2     256GB            SSD
3     512GB            SSD
4     256GB            SSD
...     ...            ...
1298  128GB            SSD
1299  512GB            SSD
1300   64GB  Flash Storage
1301    1TB            HDD
1302  500GB            HDD

[1303 rows x 2 columns]

In [48]:
df_sto = df['storage'].str.split(n=1, expand=True)

In [49]:
df_sto

          0              1
0     128GB            SSD
1     128GB  Flash Storage
2     256GB            SSD
3     512GB            SSD
4     256GB            SSD
...     ...            ...
1298  128GB            SSD
1299  512GB            SSD
1300   64GB  Flash Storage
1301    1TB            HDD
1302  500GB            HDD

[1303 rows x 2 columns]

In [50]:
df_sto.columns = ['A', 'B']

In [51]:
df_sto

          A              B
0     128GB            SSD
1     128GB  Flash Storage
2     256GB            SSD
3     512GB            SSD
4     256GB            SSD
...     ...            ...
1298  128GB            SSD
1299  512GB            SSD
1300   64GB  Flash Storage
1301    1TB            HDD
1302  500GB            HDD

[1303 rows x 2 columns]

In [54]:
df.insert(8, 'storage_type', df_sto['B'])

In [59]:
df['storage'] = df_sto['A']
df.head()

,manufacturer,model_name,category,screen_size,screen,cpu,ram,storage,gpu,operating_system,operating_system_version,weight,price_euros,storage_type
0,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,128GB,Intel Iris Plus Graphics 640,macOS,NaN,1.37,"1339,69",SSD
1,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8GB,128GB,Intel HD Graphics 6000,macOS,NaN,1.34,"898,94",Flash Storage
2,HP,250 G6,Notebook,15.6,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB,Intel HD Graphics 620,No OS,NaN,1.86,"575,00",SSD
3,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16GB,512GB,AMD Radeon Pro 455,macOS,NaN,1.83,"2537,45",SSD
4,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8GB,256GB,Intel Iris Plus Graphics 650,macOS,NaN,1.37,"1803,60",SSD

In [56]:
df.loc[76:81,'storage']

76                 2TB HDD
77    128GB SSD +  1TB HDD
78                 1TB HDD
79    128GB SSD +  1TB HDD
80               256GB SSD
81               512GB SSD
Name: storage, dtype: object

In [66]:
df.head()

,manufacturer,model_name,category,screen_size,screen,cpu,ram,storage,storage_type,gpu,operating_system,operating_system_version,weight,price_euros
0,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,128GB,SSD,Intel Iris Plus Graphics 640,macOS,NaN,1.37,"1339,69"
1,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8GB,128GB,Flash Storage,Intel HD Graphics 6000,macOS,NaN,1.34,"898,94"
2,HP,250 G6,Notebook,15.6,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB,SSD,Intel HD Graphics 620,No OS,NaN,1.86,"575,00"
3,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16GB,512GB,SSD,AMD Radeon Pro 455,macOS,NaN,1.83,"2537,45"
4,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8GB,256GB,SSD,Intel Iris Plus Graphics 650,macOS,NaN,1.37,"1803,60"

In [68]:
import numpy as np
df2 = pd.DataFrame(np.random.randn(7,3))

In [69]:
df2

          0         1         2
0  0.667995 -1.762965  0.639751
1  2.033357 -0.629081 -0.531672
2 -0.286754  0.181214  0.484688
3 -1.851530 -0.876192  2.399583
4 -0.294887 -0.566266  2.266865
5 -1.610551  0.548917 -0.475550
6 -1.801883 -0.680614 -0.833749

In [70]:
df2.iloc[:4,1] = np.nan
df2.iloc[:2,2] = np.nan
df2

          0         1         2
0  0.667995       NaN       NaN
1  2.033357       NaN       NaN
2 -0.286754       NaN  0.484688
3 -1.851530       NaN  2.399583
4 -0.294887 -0.566266  2.266865
5 -1.610551  0.548917 -0.475550
6 -1.801883 -0.680614 -0.833749

In [72]:
df2.fillna(0)

          0         1         2
0  0.667995  0.000000  0.000000
1  2.033357  0.000000  0.000000
2 -0.286754  0.000000  0.484688
3 -1.851530  0.000000  2.399583
4 -0.294887 -0.566266  2.266865
5 -1.610551  0.548917 -0.475550
6 -1.801883 -0.680614 -0.833749

In [74]:
df2.fillna({1:0.5, 2: -1}) # índice da coluna: valor a preencher nos NaN desta coluna

          0         1         2
0  0.667995  0.500000 -1.000000
1  2.033357  0.500000 -1.000000
2 -0.286754  0.500000  0.484688
3 -1.851530  0.500000  2.399583
4 -0.294887 -0.566266  2.266865
5 -1.610551  0.548917 -0.475550
6 -1.801883 -0.680614 -0.833749

In [78]:
df2.fillna(df2.loc[:,0].mean()) # preenche com média da coluna 0

          0         1         2
0  0.667995 -0.449179 -0.449179
1  2.033357 -0.449179 -0.449179
2 -0.286754 -0.449179  0.484688
3 -1.851530 -0.449179  2.399583
4 -0.294887 -0.566266  2.266865
5 -1.610551  0.548917 -0.475550
6 -1.801883 -0.680614 -0.833749

In [ ]:
df2